.MuiFab-root{
    color: white !important;
    width: 100px !important;
    height: 100px !important;
    font-size: 4rem !important;
    background-color: red !important;
    font-weight: bolder;
}
.center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.absolute {
  position: absolute;
  width: 100%;
  bottom: 40px;
} 

.top{
  position: absolute;
  width: 100%;
  top: 40px;
}

.MuiSnackbarContent-root{
  background-color: red !important;
}